<add key="XeroClientId" value="87E725915FC3482588723C390800810D" />
<add key="XeroClientSecret" value="UCkVqSWzToFv-_VP59fo-od1Ze3vOeeJUpvcCCGQP7p9GP7F" />
<add key="XeroCallbackUri" value="https://localhost:5001/oauth/callback" />
<add key="XeroScope" value="openid profile email offline_access files accounting.transactions" />
<add key="XeroState" value="my_net461_state" />